
<div>
    <div class="container" style="margin-top: 10vh;">
        <div class="row">
            <div class="col-md-offset-1 col-md-15">
                <div class="panel">
                <h3>Edit Employee <a href="#" routerLink="/post/index" class="btn btn-primary" style="float:right;">Back</a></h3>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Employee ID</label>
                        <input type="text" formControlName="employee_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employee_id.errors }" [(ngModel)]="post.employee_id" />
                        <div *ngIf="f.employee_id.touched && f.employee_id.invalid" class="alert alert-danger">
                            <div *ngIf="f.employee_id.errors?.required">Employee ID is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" [(ngModel)]="post.first_name"/>
                        <div *ngIf="f.first_name.touched && f.first_name.invalid" class="alert alert-danger">
                            <div *ngIf="f.first_name.errors?.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" [(ngModel)]="post.last_name"/>
                        <div *ngIf="f.last_name.touched && f.last_name.invalid" class="alert alert-danger">
                            <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="post.email"/>
                        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors?.pattern">Email needs to be in a correct format.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" [(ngModel)]="post.phone"/>
                        <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                            <div *ngIf="f.phone.errors.required">Phone number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hire Date</label>
                        <input type="date" formControlName="hire_date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hire_date.errors }" [(ngModel)]="post.hire_date" [ngModel]="post.hire_date | date:'dd/MM/yyyy'"/>
                        <div *ngIf="f.hire_date.touched && f.hire_date.invalid" class="alert alert-danger">
                            <div *ngIf="f.hire_date.errors.required">Hire date is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Job Title</label>
                        <input type="text" formControlName="job_title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.job_title.errors }" [(ngModel)]="post.job_title"/>
                        <div *ngIf="f.job_title.touched && f.job_title.invalid" class="alert alert-danger">
                            <div *ngIf="f.job_title.errors.required">Job title is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Manager ID</label>
                        <input type="text" formControlName="manager_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.manager_id.errors }" [(ngModel)]="post.manager_id"/>
                        <div *ngIf="f.manager_id.touched && f.manager_id.invalid" class="alert alert-danger">
                            <div *ngIf="f.manager_id.errors.required">Manager ID is required</div>
                        </div>
                    </div>
                  
                    <div class="form-group" align="right">
                        <button [disabled]="form.invalid" class="btn btn-primary">Edit </button>
                    </div>
                 
                </form>
            </div>
        </div>
     </div>
    </div>
</div>