

<div class="container" style="margin-top: 10vh;">
    <div class="row">
        <div class="col-md-offset-1 col-md-15">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-5 col-xs-12">
                            <h5 class="title">View Employee</h5>
                        </div>
                        <div class="col-sm-7 col-xs-12 text-right">
                            <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
                            <!-- <a href="#" routerLink="/post/create/"class="btn btn-primary btn-sm"><i class="fa fa-user"></i> Insert New Employee</a> -->
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Employee ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Hire Date</th>
                                <th>Job Title</th>
                                <th>Manager ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>{{ post.employee_id }}</td>
                                <td>{{ post.first_name }}</td>
                                <td>{{ post.last_name }}</td>
                                <td>{{ post.email }}</td>
                                <td>{{ post.phone }}</td>
                                <td>{{ post.hire_date | date:'dd-MM-yyyy' }}</td>
                                <td>{{ post.job_title }}</td>
                                <td>{{ post.manager_id }}</td>
                                <td>
                                </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>