
 <div class="container" style="margin-top: 10vh;">
    <div class="row">
        <div class="col-md-offset-1 col-md-15">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-5 col-xs-12">
                            <h5 class="title">Employee Table Data</h5>
                        </div>
                        <div class="col-sm-7 col-xs-12 text-right">
                            <a href="#" routerLink="/post/create/"class="btn btn-primary btn-sm"><i class="fa fa-user"></i> Insert New Employee</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>  
                                <th>ID</th>
                                <th>Employee ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Hire Date</th>
                                <th>Job Title</th>
                                <th>Manager ID</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts" >
                                <td >{{ post.id }}</td>
                                <td>{{ post.employee_id }}</td>
                                <td>{{ post.first_name }}</td>
                                <td>{{ post.last_name }}</td>
                                <td>{{ post.email }}</td>
                                <td>{{ post.phone }}</td>
                                <td>{{ post.hire_date | date:'dd-MM-yyyy' }}</td>
                                <td>{{ post.job_title }}</td>
                                <td>{{ post.manager_id }}</td>
                                <td>
                                    <ul class="action-list">
                                        <li><button type="button" (click)="deletePost(post.id)" class="btn" style="height:37px; color:rgba(244, 17, 40, 0.103);"><em class="fa fa-trash" style="color:red;"></em></button></li>
                                        <li><a href="#" [routerLink]="['/post/', post.id, 'view']" class="btn"><em class="fa fa-eye"></em></a></li>                                     
                                        <li><a href="#" [routerLink]="['/post/', post.id, 'edit']" class="btn"><em class="fa fa-edit"></em></a></li>
                                    </ul>
                                </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>